.main-header {
    font-family: "Merriweather-Regular";
    color: #cccccc;
    /* display: inline-flex; */
}

.logo {
    margin: 30px 80px;
    font-size: 24px;
    display: inline-block;
}

.nav-menu__list {
    padding: 0;
}

.nav-menu__el {
    display: inline;
    margin-right: 15px;
}

.nav-menu {
    float: right;
    margin-top: 37px;
    margin-right: 50px;
}

a.nav-menu__el-text:active,
/* активная/посещенная ссылка */
a.nav-menu__el-text:hover,
/* при наведении */
a.nav-menu__el-text {
    text-decoration: none;
    color: #cccccc;
}

.btn {
    background-color: #1289d5;
    color: #ffffff;
    font-family: "Lato - Semibold";
    font-size: 14px;
    padding: 15px 27px;
    /* Можно вынести */
    border: none;
    text-transform: uppercase;
    border-radius: 5px;
}

nav,
ul {
    display: inline;
    /* пофикси а */
}